@model UrlInfo
@{
    ViewData["Title"] = "LInker";
}
<div class="text-center">
    <h2 class="display-4">Enter full URL to short it:</h2>
    <form method="post" class="input-group mb-3" asp-controller="Home" asp-action="Create">
        <div class="col">
            <input asp-for="Url" type="text" class="form-control" placeholder="Url" />
            <span asp-validation-for="Url" class="ml-100 position-absolute text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Hash" type="text" class="form-control" placeholder="Hash(not required)" />
            <span asp-validation-for="Hash" class="position-absolute text-danger"></span>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="button-addon2" data-open-modal>Short it</button>
        </div>
    </form>
    @if(Model?.Hash != null)
    {
        <p>You short url is:</p>
        <hash-to-link hash="@Model.Hash"></hash-to-link>
    }
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
